


.events-title {
    font-size: 3.6rem;
    font-weight: bold;
    color: #454545;
    margin: 0 5vw;
    padding: 2vh 0 7vh 0;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  }
  