.nav-tabs {
    display: flex;
    justify-content: left;
    gap: 15px;
    margin: 1mm 10mm;
    padding-bottom: 20px;
  }
  
  .nav-tabs button {
    background-color: #f2f2f2;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }