.tab-container {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 6px;
    font-family: sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    min-height: 430px;
    max-width: none;
  }
  
  .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    
    
  }
  .tabs :hover {
    color: #0056b3;
  }
  
  .tab {
    flex: 1;
    padding: 12px 0;
    border: none;
    background: #eee;
    font-weight: bold;
    color: #0E9EDD;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 5vh;
  }
  
  .tab.active {
    background: white;
    border-bottom: 2px solid white;
  }
  
  .tab-content {
    background: white;
    padding: 16px;
    border-radius: 0 0 6px 6px;
    border: 1px solid #ddd;
  }

  p {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }

  
  ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
  }
  
  ul li {
    margin: 6px 0;
    color: black;
    font-weight: bold;
  }

  ul li :hover {
    color: #0056b3;
    
  }
  
  a {
    text-decoration: none;
    border-bottom: 1px dotted black;
    color: black;
  }

  .tab-arrow {
    color: #0E9EDD;
    font-size:3vh
  }
  