@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;730;800&display=swap');


.un-logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2mm 10mm;
  padding: 1.2rem 0;
  background-color: white;
}

.logo-left {
  display: flex;
  align-items: center;
}

.un-logo {
  height: 5rem; /* Set this as your fixed logo height */
  margin-right: 1.2rem;
}

.logo-text {
  display: flex;
  align-items: flex-end;
  height: 5rem; /* Match logo height */
}

.un-title {
  font-family: 'Inter', sans-serif;
  font-weight: 730;           /* Medium weight */
  font-size: 2.6rem;          /* Tall text */
  line-height: 0.95;          /* Tighter spacing between lines */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  height: 100%;
  margin: 0;
}

.bold-line {
  padding: 0;
  margin: 0;
}


.divider {
  width: 0.5px;
  height: 5rem; /* match enlarged logo */
  background-color: black;
  margin: 0 1.2rem;
}

.subtitle {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #555555;
  font-size: 1.35rem;
  line-height: 1.2;
  text-transform: none;
  letter-spacing: 0.027em;
  align-self: flex-end;       /* Align to bottom of container */
}

.search-icon {
  display: flex;
  align-items: center; /* Vertically center icon */
  justify-content: center;
}
