.slider-container {
  width: 20vh;             /* Takes up 30% of viewport width */
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0;
}

.slider-image {
  width: 100%;  /* stretches to fill the container */
  height: auto;
  object-fit: cover;
  border-radius: 0;
  box-shadow: none;
}


.slider-button {
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  background-color: #ffffff;
  border: 0.2vh solid #4a90e2;
  color: #4a90e2;
  font-size: 2vh;
  font-weight: bold;
  padding: 0.5vh 1.5vh;
  border-radius: 0.5vh;
  cursor: pointer;
  transition: all 0.2s ease;
}

.slider-button:hover {
  background-color: #4a90e2;
  color: white;
}


  